<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finance">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Finance"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Telas.Entrada">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Telas.login"/>
        <activity android:name=".Telas.register"/>
        <activity android:name=".Telas.principal"/>
        <activity android:name=".Telas.profile"/>
        <activity android:name=".Telas.report"/>
        <activity android:name=".Telas.AdicionarCategorias"
            android:theme="@style/Theme.AppCompat.Dialog"/>
        <activity android:name=".Telas.Lancamento"/>
        <activity android:name=".Telas.Filtro"
            android:theme="@style/Theme.AppCompat.Dialog"/>
        <activity android:name=".Telas.Fornecedor"
            android:theme="@style/Theme.AppCompat.Dialog"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>